.btmBorder {
  border-bottom-style: double;
}
.contentRow {
  height: 50px;
}
.contentCenter {
  align-items: center;
  display: flex;
  justify-content: center;
}
.font24 {
  font-size: 24px;
}
.padZero {
  padding: 0px;
}
.saveBtn {
  display: flex;
}
.time {
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  height: 100%;
  text-align: right;
  width: 100%;
}
.txtCenter {
  text-align: center;
} 
.col-2{
  border: 10px;
}
.col-8{
  border: 10px;
}
body{
  margin:50px;
}